section#projects {
  width: var(--max-page-width);
  margin: auto;
  padding-top: 60px;
  margin-bottom: 20px;
}

section#projects h2 {
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 1.8rem;
  letter-spacing: 1px;
  margin-bottom: 65px;
  padding: 0 10px;
  text-align: center;
}

.projects-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 30px;
  padding: 0 20px;
}

.projects-list {
  width: fit-content;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.projects-list,
.image-container {
  opacity: 0;
  transform: translateY(50px);
  transition: all ease-in-out 300ms;
}

.image-container::after,
.image-container::before {
  opacity: 0;
  top: 0;
  transition: all ease-in-out 300ms;
}

.image-container::before {
  transition-delay: 200ms;
}

.image-container::after {
  transition-delay: 400ms;
}

.projects-container.intersected .projects-list,
.projects-container.intersected .image-container {
  transform: translateY(0);
  opacity: 100%;
}

.projects-container.intersected .image-container::before {
  top: -20px;
  opacity: 100%;
}

.projects-container.intersected .image-container::after {
  top: -40px;
  opacity: 60%;
}

.projects-list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid var(--border-buttons);
  background-color: var(--background-projects-list);
  border-radius: 10px;
}

.projects-list ul::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 12px;
}

.projects-list ul::-webkit-scrollbar-thumb {
  -webkit-appearance: none;
  background-color: var(--scrollbar-color);
  border-radius: 15px;
}

.projects-list ul li {
  font-size: 0.85rem;
  color: var(--text-primary);
  padding: 10px 15px;
  cursor: pointer;
  background-color: var(--background-projects-list);
  transition: all ease-in-out 100ms;
  border-bottom: 1px solid var(--border-buttons);
}

.projects-list ul li:last-child {
  border-bottom: 0;
}

.projects-list ul li:hover {
  background-color: var(--background-projects-list-hover);
}

.projects-list ul li.selected {
  color: var(--text-cian);
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 500px;
}

.project-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 15px;
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  transition: all ease-in-out 200ms;
}

.image-container::before,
.image-container::after {
  content: "";
  height: 100%;
  border-radius: 10px;
  background-color: var(--background-projects-list);
  border: 1px solid var(--border-buttons);
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.image-container::before {
  width: 90%;
  z-index: -1;
}

.image-container::after {
  width: 80%;
  z-index: -2;
}

.image-container.is-change .project-image {
  opacity: 0;
  transform: translateY(20px);
}

.project-data {
  margin-top: 30px;
  opacity: 0;
  transform: translateX(-60px);
  padding: 0 20px;
  transition: all ease-in-out 300ms;
}

.project-data.intersected {
  opacity: 100%;
  transform: translateX(0);
  transition: all ease-in-out 200ms;
}

.project-data.is-change {
  transform: translateX(-60px);
  opacity: 0;
}

.project-data h3 {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.4rem;
  line-height: 1.5rem;
}

.project-data a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: var(--text-cian);
  font-size: 0.95rem;
  margin-bottom: 10px;
  width: fit-content;
}

.project-data a .url-icon {
  display: none;
}

.project-data a:hover {
  text-decoration: underline;
}

.project-data a:hover .url-icon {
  display: inline;
}

.project-data p {
  width: 100%;
}

.project-data .tecnologies {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 15px;
}

.project-data .tecnologies li {
  display: block;
  padding: 6px 12px;
  border: 1px solid var(--border-buttons);
  background-color: var(--background-projects-list);
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--text-secondary);
}

@media (min-width: 768px) {
  section#projects h2 {
    padding: 0;
    font-size: 1.8rem;
    text-align: left;
    margin-bottom: 45px;
  }

  .projects-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    place-content: center;
    padding: 0;
  }

  .projects-list {
    width: 100%;
  }

  .projects-list ul li {
    font-size: 0.9rem;
  }

  .projects-list ul {
    max-height: 250px;
  }

  .project-data {
    padding: 0;
  }

  .project-data p {
    width: 80%;
  }

  .project-data .tecnologies {
    width: 80%;
  }

  .project-data .tecnologies li {
    font-size: 0.9rem;
  }
}

@media (min-width: 1024px) {
  section#projects h2 {
    font-size: 2rem;
  }

  .projects-list ul li {
    font-size: 1rem;
    padding: 15px 20px;
  }

  .projects-list,
  .projects-list ul {
    border-radius: 10px;
  }

  .projects-container {
    gap: 40px;
  }

  .project-data a {
    font-size: 1.1rem;
  }
}
