---
import Layout from '../layouts/RootLayout.astro';
import MainSection from '../components/MainSection.astro';
---

<Layout title="Daniel Molina - Portafolio">
	<main>
		<MainSection />
	</main>
	<style>
		main {
			width: 100%;
  			margin: auto;
			background-color: transparent;
		}
	</style>
</Layout>
