---
import { IoMdDownload } from "react-icons/io";
---

<a id="download" href="/CV.pdf" download="Curriculum Daniel Molina.pdf">
    <IoMdDownload size={"18px"} />
    <span>Descargar CV</span>
</a>

<style>
    a {
        text-decoration: none;
        padding: 6px 14px;
        color: var(--text-secondary);
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 1rem;
        background-color: var(--background);
        font-family: "DM-Sans";
        font-weight: 300;
        cursor: pointer;
        border: 1px solid transparent;
        transition: all ease-in-out 200ms;
        border-radius: 5px;
    }

    a:hover {
        border-color: var(--text-secondary);
    }
</style>