---

---

<footer>
  <span> &copy; 2024 Daniel Molina. Algunos derechos reservados </span>

  <nav>
    <a href="#experience">Experiencia</a>
    <a href="#technologies">Tecnologías</a>
  </nav>
</footer>

<style>
  footer {
    width: var(--max-page-width);
    margin: auto;
    padding: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-secondary);
    font-size: 0.95rem;
  }

  footer nav {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  footer nav a {
    text-decoration: none;
    color: var(--text-secondary);
    padding: 10px 16px;
  }
</style>
