---
import { Image } from "astro:assets";
import photo from "@public/photo.avif";
import { FaLocationDot } from "react-icons/fa6";
import { IoMdMail } from "react-icons/io";
import { IoMdDownload } from "react-icons/io";
---

<section>
  <div class="photo-container">
    <Image
      src={photo}
      alt="Foto de Daniel Molina"
      class="photo"
      loading="eager"
    />
    <a id="downloadCV" href="/CV.pdf" download="Curriculum Daniel Molina.pdf">
      <IoMdDownload size={"18px"} />
      <span>Descargar CV</span>
    </a>
  </div>
  <div class="about">
    <h1>
      <span>Hola, soy</span>
      <span class="name">Daniel Molina</span>
    </h1>
    <p>
      Desarrollador web Full-Stack junior 游눛, mi pasi칩n y compromiso con la
      creaci칩n de sitios web profesionales y de alta calidad se refleja en m치s
      de <span style="color: var(--text-cian);">2 a침os de experiencia.</span> Me
      encanta enfrentar desaf칤os y aprender nuevas tecnolog칤as para ofrecer soluciones
      innovadoras y atractivas.
    </p>
    <ul>
      <li>
        <FaLocationDot size={"18px"} color="red" />
        <span>Caracas - Venezuela</span>
      </li>
      <li>
        <IoMdMail size={"18px"} />
        <a href="mailto:contactodanielmolina1985@gmail.com"
          >contactodanielmolina1985@gmail.com</a
        >
      </li>
    </ul>
    <span class="flag">Disponible para trabajar</span>
  </div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px auto 0px auto;
    width: 100%;
    max-width: var(--max-page-width);
  }

  .photo-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }

  .photo {
    min-width: 160px;
    height: auto;
    width: 160px;
    border-radius: 100%;
  }

  h1 {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    color: var(--text-secondary);
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 4px;
    text-align: center;
  }

  .name {
    font-size: 2.2rem;
    font-weight: 800;
    color: var(--text-cian);
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    padding: 0px 10px;
  }

  .about p {
    color: var(--text-secondary);
    text-align: center;
    padding: 0px 10px;
  }

  .flag {
    display: block;
    width: fit-content;
    padding: 4px 14px;
    border-radius: 30px;
    border: 1px solid var(--text-green);
    color: var(--text-green);
    font-size: 0.8rem;
  }

  .about ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
  }

  .about ul li {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--text-secondary);
    font-size: 0.85rem;
  }

  .about ul li a {
    text-decoration: none;
    color: var(--text-secondary);
  }

  a#downloadCV {
    text-decoration: none;
    padding: 6px 14px;
    color: var(--text-secondary);
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.9rem;
    background-color: var(--background);
    font-weight: 400;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all ease-in-out 200ms;
    border-radius: 5px;
  }

  a#downloadCV span {
    white-space: nowrap;
  }

  a#downloadCV:hover {
    border-color: var(--text-secondary);
  }

  @media (min-width: 768px) {
    section {
      flex-direction: row;
      gap: 30px;
      margin: 40px auto 0px auto;
    }

    .photo {
      min-width: 150px;
      width: 150px;
    }

    h1 {
      font-size: 1.6rem;
      line-height: 2.7rem;
      text-align: left;
    }

    .name {
      font-size: 3rem;
    }

    .about p {
      padding: 0;
      text-align: left;
    }

    .flag {
      font-size: 0.9rem;
    }

    .about {
      align-items: start;
      padding: 0;
    }

    .about ul {
      align-items: start;
    }

    .about ul li {
      font-size: 0.9rem;
    }

    a#downloadCV {
      font-size: 0.9rem;
    }
  }

  @media (min-width: 1024px) {
    .photo {
      min-width: 200px;
      width: 200px;
    }

    h1 {
      font-size: 2rem;
      line-height: 3rem;
    }

    .name {
      font-size: 3.4rem;
    }

    .flag {
      font-size: 1rem;
    }

    .about ul li {
      font-size: 1rem;
    }

    a#downloadCV {
      font-size: 1rem;
    }
  }
</style>
