---
import "@fontsource-variable/dm-sans";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "@fontsource/poppins/800.css";

import HeaderImage from "@/components/HeaderImage.astro";
import Header from "@/components/Header.astro";
import StarsLayer from "@/components/StarsLayer.astro";
import Footer from "@/components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Bienvenido a mi portafolio personal. Soy un programador apasionado con experiencia en desarrollo web y software. Explora mis proyectos, tecnologías con las que trabajo y experiencias profesionales."
    />
    <meta name="author" content="Daniel Molina" />
    <meta name="robots" content="index, follow" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=0, initial-scale=1"
    />

    <meta property="og:title" content="Portafolio de Daniel Molina" />
    <meta
      property="og:description"
      content="Explora mis proyectos, habilidades y experiencias profesionales en desarrollo web y software."
    />
    <meta property="og:image" content="/screenshot-portafolio.png" />
    <meta
      property="og:image:alt"
      content="Captura de pantalla del portafolio"
    />
    <meta property="og:url" content="portafolio-web-dusky.vercel.app" />
    <meta property="og:site_name" content="Portafolio de Daniel Molina" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="es_ES" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Portafolio de Daniel Molina" />
    <meta
      name="twitter:description"
      content="Explora mis proyectos, habilidades y experiencias profesionales en desarrollo web y software."
    />
    <meta name="twitter:image:src" content="/screenshot-portafolio.png" />
    <meta
      name="twitter:image:alt"
      content="Captura de pantalla del portafolio"
    />
    <meta property="twitter:url" content="portafolio-web-dusky.vercel.app" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <StarsLayer />
    <HeaderImage />
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
  }

  :root {
    --text-primary: white;
    --text-secondary: #d3d3d3;
    --text-cian: #1e90ff;
    --text-green: #2be02b;
    --background: #08010e;
    --background-transparent: #08010ede;
    --background-projects-list: #14131a;
    --background-projects-list-hover: #272630;
    --scrollbar-color: #3a3947;
    --border-buttons: gray;
    --max-page-width: 100%;
    --icons-cian: #0cd5f8;
    --background-alert: #37363d;
  }

  body {
    min-height: 100dvh;
    overflow-x: hidden;
    width: 100dvw;
    background-color: var(--background);
    font-family: "DM Sans Variable", sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  p {
    text-wrap: pretty;
    color: var(--text-secondary);
    font-weight: 400;
    font-size: 0.9rem;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
    color: var(--text-primary);
    font-family: "Poppins", sans-serif;
  }

  img,
  svg {
    max-width: 100%;
    height: auto;
  }

  .banner {
    width: 100%;
    height: auto;
  }

  @media (min-width: 768px) {
    :root {
      --max-page-width: 672px;
    }

    p {
      font-size: 1rem;
    }
  }

  @media (min-width: 1024px) {
    :root {
      --max-page-width: 896px;
    }

    p {
      font-size: 1.1rem;
    }
  }
</style>
